@media (max-width: 445px) {
    h2 {
        font-size: 1.3rem;
    }
}

body {
    background-color: #4A4F53;
}

.h-color {
    background-color: #ffffff;
    text-align: center;
}

.p-color-1 {
    background-color: #FFFF00;
}

.p-color-2 {
    background-color: #a9b2ba;
}

.fishka-img {
    padding-left: 0;
    padding-right: 0;
}

.fishka-size {
    max-width: 100%;
}

.dkp, .p-right {
    text-align: right;
}
